:root{
  --primary: #557153;
  --secondary: #7D8F69;
  --alpha-backgound: rgba(100,100,100,0.5);
}
.App {
  text-align: center;
  /* background-color: var(--secondary); */
  min-height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-size: 80px 80px;
  /* background-image: linear-gradient(to right, transparent 0px, transparent 10px, black 10px, #E6E5A3 15px, #E6E5A3 40px); */
  /* linear-gradient(to bottom, transparent 0px, transparent 5px, black 5px, black 40px); */
  /* linear-gradient(to bottom, transparent 0px, transparent 5px, black 5px, black 40px);/ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: b/; */
  background-position: center center;
  /* animation: wave2 10s ease-in-out infinite; */

  /* display: flex; */
  /* flex-direction: row; */
}
@keyframes wave2 {
  0%{
    background-size: 80px 80px;
  }
  50%{
    background-size: 100px 80px;
  }
  100%{
    background-size: 80px 80px;
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imgWrapper{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alpha-backgound);
  min-width: 300px;
  min-height: 300px;
  max-height: 500px;
  border-radius: 10px;
  transition: filter 0.1s;
}
img.canvas:hover{
  filter: brightness(50%);
}
img.canvas{
  transition: filter 0.4s;
  border-radius: 1px;
  width: 300px;
  background-size: 100px 100px;
  /* background-image: linear-gradient(to right, black 2px, transparent 2px),linear-gradient(to right, black 2px, transparent 2px); */
  background-color: var(--alpha-backgound);
}
.block{
  flex: 1;
  margin: 10px;
  /* font-size: 12px; */
}
.alert-nav{
  animation: popAlert 1s forwards;
  transform: translateY(-100px);
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  z-index: 1000;

}
@keyframes popAlert {
  0%{
  }
  100%{
  transform: translateY(0);

    /* transform: translateY(100vh); */
  }
}